*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-size:62.5%;
}

body{
    font-size:1.6rem;
    width:100vw;
    min-height:400vh;
    overflow-x:hidden;
    font-family: 'Ubuntu', sans-serif;;
}